.sp-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.pro-container {
  margin: 10px 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding-left: 1rem;
  background: #fefdfd;
}

.pro {
  width: 15rem;
  height: 25rem;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #e3e6f3;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(150, 27, 27, 0.02);
  margin: 25px 10px;
  border-radius: 20px;
  background: #eeecec;
  position: relative;
}

.pro:hover {
  box-shadow: rgba(0, 0, 0, 0.06);
}

.pro img {
  width: 100%;
  border-radius: 20px;
  height: 60%;
}

.pro img:hover {
  height: 61%;
  width: 101%;
}

.pro .des {
  text-align: start;
  padding: 10px 0;
}

.pro .des span {
  color: #088178;
  font-size: 12px;
}

.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.pro .des i {
  font-size: 12px;
  color: goldenrod;
}

.pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.pro h6 {
  text-align: start;
  color: #088178;
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
}
